{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<br />

<div class="form-group row col-xs-4 col-xs-offset-4">
    <h3>Modification pseudo/email</h3>
    {{ form_start(form, { 'action': path('app_bundle_edituser', {'id' : app.user.id}), 'attr': { 'class': 'app_bundle_edituser' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-default" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>
<!-- fos_user_profile_edit-->